<section class="advantages">
  <article class="container">
    <h2 class="advantages-title">
      Мы печём для вас вкуснейшие макаруны уже более 10 лет
    </h2>
    <p class="advantages-desc">
      Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
      ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина,
      разрыхлителей и улучшителей муки.
    </p>
    <figure class="advantages-image">
      <img src="assets/images/advantages_macaroon.png" alt="Advantages_macaroon">
    </figure>
    <ul class="advantages-list">
      <li class="advantages-list-item" *ngFor="let advantage of advantages; let i = index;">
        <figure class="circle-number">
          <span>{{i + 1}}</span>
        </figure>
        <h5 class="advantages-list-title">{{advantage.title}}</h5>
        <p class="advantages-list-desc">
          {{advantage.desc | textMiniCustom : !textExpanded[i]}}
          <span class="text-expanded" (click)="toggleTextExpanded(i)">{{textExpanded[i] ? 'Скрыть' : '...'}}</span>
        </p>
      </li>
    </ul>
  </article>
</section>
