<header class="header">
  <article class="container">
    <figure class="logo">
      <img src="assets/images/logo.png" alt="Logo">
    </figure>
    <button id="burger" class="burger" (click)="changeMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav id="menu" class="menu" [class.open]="isOpenMenu">
      <button class="close" (click)="changeMenu()">
        <span></span>
        <span></span>
      </button>
      <ul class="menu-list">
        <li class="menu-item"><a href="#" (click)="scrollTo(productsEl)">Пироженки</a></li>
        <li class="menu-item"><a href="#">О нас</a></li>
        <li class="menu-item"><a href="#" (click)="scrollTo(ordersEl)">Оформить заказ</a></li>
      </ul>
    </nav>
    <a href="{{contactInfo.hrefPone}}" class="phone">{{contactInfo.phone | phoneCustom}}</a>
  </article>
</header>

<main class="main">
  <section class="macaroons-info">
    <article class="container">
      <h1 class="macaroons-info-title">
        Мягкие французские пироженки Macaroons
      </h1>
      <p class="macaroons-info-desc">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </p>
      <article class="macaroons-info-button">
        <button class="btn macaroons-info-btn" buttonEffects
                [defaultBgColor]="'linear-gradient(0deg, #71081e 0%, #d7485c 100%)'"
                [focusBgColor]="'linear-gradient(0deg, #d7485c 0%, #71081e 100%)'"
                [hoverBgColor]="'linear-gradient(45deg, #71081e 0%, #d7485c 100%)'"
                (click)="scrollTo(productsEl)">Выбрать макарун</button>
      </article>
      <figure class="macaroons-info-image">
        <img src="assets/images/macaroons_info.png" alt="Macaroons_info">
      </figure>
    </article>
  </section>

  <advantages [advantages]="advantages"></advantages>

  <section class="products" #productsEl>
    <article class="container">
      <h2 class="products-title">Выберите свой макарун</h2>
      <ul class="products-list">
        <products *ngFor="let product of products" [product]="product" (addProductToCartEvent)="addOrderEvent($event, product, ordersEl)"></products>
      </ul>
    </article>
  </section>

  <section class="order" #ordersEl>
    <article class="container">
      <figure class="order-image">
        <img src="assets/images/macaroons.png" alt="Macaroons" class="order-image-img">
      </figure>
      <article class="order-form">
        <h2 class="order-form-title">Закажите макарун!</h2>
        <p class="order-form-desc">
          Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
        </p>
        <form class="form">
          <p class="form-choice">
            Ваш выбор
          </p>
          <label>
            <input type="text" placeholder="Напишите, что хотите заказать..." name="product" class="form-input"
                   [class.is-invalid]="!formInputValues.productTitle && isSubmitted"
                   [(ngModel)]="formInputValues.productTitle">
          </label>
          <p class="form-data">
            Заполните данные для заказа
          </p>
          <label>
            <input type="text" placeholder="Ваше имя" name="name" class="form-input"
                   [class.is-invalid]="!formInputValues.clientName && isSubmitted"
                   [(ngModel)]="formInputValues.clientName">
          </label>
          <label>
            <input type="number" placeholder="+375 (__) ___ - __ - __" name="phone" class="form-input"
                   [class.is-invalid]="!formInputValues.clientPhone && isSubmitted"
                   [(ngModel)]="formInputValues.clientPhone">
          </label>
          <button class="btn form-btn" buttonEffects
                  [defaultBgColor]="'linear-gradient(0deg, #71081e 0%, #d7485c 100%)'"
                  [focusBgColor]="'linear-gradient(0deg, #d7485c 0%, #71081e 100%)'"
                  [hoverBgColor]="'linear-gradient(45deg, #71081e 0%, #d7485c 100%)'"
                  (click)="orderDone()">Оформить заказ</button>
        </form>
      </article>
      <img src="assets/images/strawberries_1.png" alt="Strawberries 1" class="order-form-img-big">
      <img src="assets/images/strawberries_2.png" alt="Strawberries 2" class="order-form-img">
    </article>
  </section>

  <footer class="footer">
    <article class="container">
      <article class="footer-logo-copy">
        <figure class="logo">
          <img src="assets/images/logo.png" alt="Logo">
        </figure>
        <p class="copy">Все права защищены, 2020</p>
      </article>
      <figure class="footer-social">
        <a href="{{contactInfo.hrefLink}}"><img src="assets/images/instagram.png" alt="Instagram"></a>
        <figcaption class="social-desc">Мы в Instagram</figcaption>
      </figure>
      <a href="{{contactInfo.hrefPone}}" class="phone">{{contactInfo.phone | phoneCustom}}</a>
      <p class="copy-adaptive-visible">Все права защищены, 2020</p>
    </article>
  </footer>
  <figure class="present-image-wrap">
    <img src="assets/images/cart.png" alt="Cart" class="present-image">
    <p class="count-product">{{cartService.count}}</p>
  </figure>
  <figure class="present-message">
    <figcaption class="message">
      {{cartService.price | currency: 'RUB' : 'руб.' : '1.2-2' : 'ru-RU'}}
    </figcaption>
  </figure>
</main>
