<header class="header">
  <article class="container">
    <figure class="logo">
      <img src="assets/images/logo.png" alt="Logo">
    </figure>
    <button id="burger" class="burger" (click)="changeMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav id="menu" class="menu" [class.open]="isOpenMenu">
      <button class="close" (click)="changeMenu()">
        <span></span>
        <span></span>
      </button>
      <ul class="menu-list">
        <li class="menu-item"><a href="#" (click)="scrollTo(productsEl)">Пироженки</a></li>
        <li class="menu-item"><a href="#">О нас</a></li>
        <li class="menu-item"><a href="#" (click)="scrollTo(ordersEl)">Оформить заказ</a></li>
      </ul>
    </nav>
    <a href="{{contactInfo.hrefPone}}" class="phone">{{contactInfo.phone}}</a>
  </article>
</header>

<main class="main">
  <section class="macaroons-info">
    <article class="container">
      <h1 class="macaroons-info-title">
        Мягкие французские пироженки Macaroons
      </h1>
      <p class="macaroons-info-desc">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </p>
      <article class="macaroons-info-button">
        <button class="btn macaroons-info-btn" (click)="scrollTo(productsEl)">Выбрать макарун</button>
      </article>
      <figure class="macaroons-info-image">
        <img src="assets/images/macaroons_info.png" alt="Macaroons_info">
      </figure>
    </article>
  </section>

  <section class="advantages">
    <article class="container">
      <h2 class="advantages-title">
        Мы печём для вас вкуснейшие макаруны уже более 10 лет
      </h2>
      <p class="advantages-desc">
        Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
        ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина,
        разрыхлителей и улучшителей муки.
      </p>
      <figure class="advantages-image">
        <img src="assets/images/advantages_macaroon.png" alt="Advantages_macaroon">
      </figure>
      <ul class="advantages-list">
        <li class="advantages-list-item" *ngFor="let advantage of advantages; let i = index;">
          <figure class="circle-number">
            <span>{{i + 1}}</span>
          </figure>
          <h5 class="advantages-list-title">{{advantage.title}}</h5>
          <p class="advantages-list-desc">
            {{advantage.desc}}
          </p>
        </li>
      </ul>
    </article>
  </section>

  <section class="products" #productsEl>
    <article class="container">
      <h2 class="products-title">Выберите свой макарун</h2>
      <ul class="products-list">
        <li class="product-item" *ngFor="let product of products; let i = index;">
          <figure class="product-item-image">
            <img src="assets/images/{{product.image}}" alt="Product {{i + 1}}">
          </figure>
          <article class="product-item-action">
            <h6 class="product-item-title">{{product.title}}</h6>
            <p class="product-item-count">{{product.quantity}}</p>
            <p class="product-item-price">{{product.price}}</p>
            <button class="btn product-item-btn" (click)="orderEvent(product, ordersEl)">Заказать</button>
          </article>
        </li>
      </ul>
    </article>
  </section>

  <section class="order" #ordersEl>
    <article class="container">
      <figure class="order-image">
        <img src="assets/images/macaroons.png" alt="Macaroons" class="order-image-img">
      </figure>
      <article class="order-form">
        <h2 class="order-form-title">Закажите макарун!</h2>
        <p class="order-form-desc">
          Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
        </p>
        <form class="form">
          <p class="form-choice">
            Ваш выбор
          </p>
          <label>
            <input type="text" placeholder="Напишите, что хотите заказать..." name="product" class="form-input"
                   [class.is-invalid]="!formInputValues.productTitle && isSubmitted"
                   [(ngModel)]="formInputValues.productTitle">
          </label>
          <p class="form-data">
            Заполните данные для заказа
          </p>
          <label>
            <input type="text" placeholder="Ваше имя" name="name" class="form-input"
                   [class.is-invalid]="!formInputValues.clientName && isSubmitted"
                   [(ngModel)]="formInputValues.clientName">
          </label>
          <label>
            <input type="number" placeholder="+375 (__) ___ - __ - __" name="phone" class="form-input"
                   [class.is-invalid]="!formInputValues.clientPhone && isSubmitted"
                   [(ngModel)]="formInputValues.clientPhone">
          </label>
          <label for="check" class="input-check">
            <input type="checkbox" name="check" id="check" [(ngModel)]="showPresent">
            <p>Открыть подарок</p>
          </label>
          <button class="btn form-btn" (click)="orderDone()">Оформить заказ</button>
        </form>
      </article>
      <img src="assets/images/strawberries_1.png" alt="Strawberries 1" class="order-form-img-big">
      <img src="assets/images/strawberries_2.png" alt="Strawberries 2" class="order-form-img">
    </article>
  </section>

  <footer class="footer">
    <article class="container">
      <article class="footer-logo-copy">
        <figure class="logo">
          <img src="assets/images/logo.png" alt="Logo">
        </figure>
        <p class="copy">Все права защищены, 2020</p>
      </article>
      <figure class="footer-social">
        <a href="{{contactInfo.hrefLink}}"><img src="assets/images/instagram.png" alt="Instagram"></a>
        <figcaption class="social-desc">Мы в Instagram</figcaption>
      </figure>
      <a href="{{contactInfo.hrefPone}}" class="phone">{{contactInfo.phone}}</a>
      <p class="copy-adaptive-visible">Все права защищены, 2020</p>
    </article>
  </footer>
  <figure class="present-image-wrap" [class.block]="!showPresent">
    <img src="assets/images/present.png" alt="Present" class="present-image">
  </figure>
  <figure class="present-message" [class.block]="!showPresent">
    <figcaption class="message">
      Оформите заказ и получите подарок!
    </figcaption>
  </figure>
</main>
