/* You can add global styles to this file, and also import other style files */
@import url(./app/style-component/normalize.scss);
@import url(./app/style-component/fonts.scss);

* {
  scroll-behavior: smooth;
}

body {
  font-family: GilroyMedium, sans-serif;
  margin: 0;
  background-color: #ffefef;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  background-color: #f8bcc4;
  background-image: linear-gradient(0.0deg, #71081e 0%, #d7485c 100%);
  border: none;
  font-family: GilroyBold, sans-serif;
  color: #ffffff;
  transition: .3s;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 5px 9px 1px rgba(130,19,40,0.5);
}
