.advantages {
    padding: 120px 0 125px 0;
}

.advantages .container {
    display: grid;
    grid-template-columns: 475px 1fr;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
}

.advantages-title {
    font-family: Tavolgafree, sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: 100;
    color: #331907;
    max-width: 475px;
    padding-bottom: 59px;
}

.advantages-desc {
    font-family: GilroyRegular, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #331907;
    max-width: 400px;
}

.advantages-image {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: end;
}

.advantages-image img {
    max-width: 100%;
}

.advantages-list {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 89px;
    list-style-type: none;
}

.advantages-list-item:hover .circle-number {
    background-color: #eba8b1;
}

.advantages-list-item:hover .circle-number > span {
    color: #821328;
}

.advantages-list .advantages-list-item:nth-child(1) {
    max-width: 210px;
}

.advantages-list .advantages-list-item:nth-child(2) {
    max-width: 220px;
    justify-self: center;
}

.advantages-list .advantages-list-item:nth-child(3) {
    max-width: 202px;
    justify-self: center;
}

.advantages-list .advantages-list-item:nth-child(4) {
    max-width: 218px;
    justify-self: end;
}

.circle-number {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #821328;
    margin-bottom: 13px;
    transition: all .3s;
}

.circle-number span {
    height: 54px;
    font-family: GilroyExtraBold, sans-serif;
    font-size: 60px;
    color: #ffffff;
}

.advantages-list-title {
    font-family: GilroyExtraBold, sans-serif;
    font-size: 20px;
    color: #331907;
    margin-bottom: 19px;
}

.advantages-list-desc {
    font-size: 15px;
    line-height: 20px;
    color: #331907;
}

@media screen and (max-width: 960px) {
  .advantages-list {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    justify-content: center;
    grid-column-gap: 62px;
    grid-row-gap: 85px;
  }

  .advantages-list-item {
    text-align: center;
  }

  .circle-number {
    margin: 0 auto;
  }

  .advantages-list-title {
    margin-top: 13px;
  }
}

@media screen and (max-width: 768px) {
  .advantages .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    justify-content: center;
  }

  .advantages-title {
    justify-self: center;
    text-align: center;
  }

  .advantages-desc {
    max-width: 665px;
    grid-row: 2 / 3;
    justify-self: center;
    text-align: center;
    padding-bottom: 42px;
  }

  .advantages-image {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
  }

  .advantages-image img {
    width: 302px;
    height: 183px;
  }

  .advantages-list {
    grid-column: 1 / 2;
  }
}

@media screen and (max-width: 640px) {
  .advantages-list {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
}

@media screen and (max-width: 540px) {
  .advantages {
    padding: 100px 0;
  }

  .advantages-title {
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 40px;
  }

  .advantages-desc {
    font-size: 16px;
    line-height: 23px;
  }
}

@media screen and (max-width: 480px) {
  .advantages-desc {
    font-size: 16px;
    line-height: 23px;
    padding-bottom: 60px;
  }

  .advantages-list {
    padding-top: 60px;
  }

  .advantages-list-title {
    font-size: 18px;
  }

  .advantages-list-desc {
    font-size: 13px;
    line-height: 18px;
  }
}

@media screen and (max-width: 320px) {
  .advantages-list {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .advantages-list .advantages-list-item:nth-child(1) {
    justify-self: center;
  }

  .advantages-list .advantages-list-item:nth-child(4) {
    justify-self: center;
  }
}
