@font-face {
    font-family: GilroyRegular;
    src: url("../../assets/fonts/gilroy/gilroy-regular.ttf") format("truetype");
}

@font-face {
    font-family: GilroyMedium;
    src: url("../../assets/fonts/gilroy/gilroy-medium.ttf") format("truetype");
}

@font-face {
    font-family: GilroyBold;
    src: url("../../assets/fonts/gilroy/gilroy-bold.ttf") format("truetype");
}

@font-face {
    font-family: GilroyExtraBold;
    src: url("../../assets/fonts/gilroy/gilroy-extraBold.ttf") format("truetype");
}

@font-face {
    font-family: Tavolgafree;
    src: url("../../assets/fonts/tavolgafree/TavolgaFree.ttf") format("truetype");
}
