.main {
    position: relative;
}

.macaroons-info {
    padding: 127px 0 108px 0;
    background-color: #eba8b1;
}

.macaroons-info .container {
    display: grid;
    grid-template-columns: 580px 1fr;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    align-items: center;
}

.macaroons-info-title {
    align-self: start;
    padding-top: 16px;
    font-family: Tavolgafree, sans-serif;
    font-size: 55px;
    line-height: 60px;
    font-weight: 100;
    color: #ffffff;
}

.macaroons-info-desc {
    align-self: start;
    font-family: Tavolgafree, sans-serif;
    font-size: 18px;
    line-height: 25px;
    max-width: 345px;
    color: #ffffff;
}

.btn {
    background-color: #f8bcc4;
    background-image: linear-gradient(0.0deg, #71081e 0%, #d7485c 100%);
    border: none;
    font-family: GilroyBold, sans-serif;
    color: #ffffff;
    transition: .3s;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 5px 9px 1px rgba(130,19,40,0.5);
}

.macaroons-info-btn {
    width: 240px;
    border-radius: 30px;
    padding: 20px;
    font-size: 18px;
}

.macaroons-info-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    justify-self: end;
}

.macaroons-info-image img {
    z-index: 1;
}

.macaroons-info-image:before {
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #821328;
    z-index: 0;
    animation: circle-pulse-1 3s ease-out infinite both;
}

.macaroons-info-image:after {
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #821328;
    z-index: 0;
    animation: circle-pulse-1 3s linear .3s infinite both;
}

@keyframes circle-pulse-1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2.3);
        opacity: .0;
    }

    100% {
        transform: scale(2.3);
        opacity: .0;
    }
}