.order {
    padding: 97px 0 120px 0;
}

.order .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.order-image {
    padding-left: 15px;
}

.order-image-img {
    max-width: 100%;
}

.order-form-img-big {
    position: absolute;
    left: 0;
    top: 0;
    animation: translate-image 1.5s linear infinite alternate;
}

.order-form {
    width: 50%;
}

.order-form-title {
    font-family: Tavolgafree, sans-serif;
    font-size: 45px;
    font-weight: 100;
    color: #331907;
    padding-bottom: 40px;
}

.order-form-desc {
    font-family: GilroyRegular, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #331907;
    padding-bottom: 49px;
    max-width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-choice {
    font-family: GilroyBold, sans-serif;
    font-size: 18px;
    color: #120a06;
    padding-bottom: 19px;
}

.form label:nth-child(2) {
    margin-bottom: 40px;
}

.form label:nth-child(4) {
    margin-bottom: 14px;
}

.form label:nth-child(5) {
    margin-bottom: 15px;
}

.form-input {
    display: block;
    width: 295px;
    border: 1px solid #821328;
    border-radius: 30px;
    background: transparent;
    outline: none;
    padding: 21px 27px;
    font-size: 15px;
    color: #120a06;
}

.input-check {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  margin-left: 15px;
  font-family: GilroyBold, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.input-check input {
  accent-color: #760c22;
  border: 2px solid #760c22;
  width: 15px;
  height: 15px;
}

.form-input::placeholder {
    font-family: GilroyBold, sans-serif;
    font-size: 15px;
    color: #760c22;
}

.is-invalid {
  -webkit-box-shadow: 0px 0px 11px 8px rgba(118, 12, 34, 0.24);
  -moz-box-shadow: 0px 0px 11px 8px rgba(118, 12, 34, 0.24);
  box-shadow: 0px 0px 11px 8px rgba(118, 12, 34, 0.24);
}

.form-data {
    font-family: GilroyBold, sans-serif;
    font-size: 18px;
    color: #120a06;
    padding-bottom: 20px;
}

.form-btn {
    width: 295px;
    height: 60px;
    padding: 21px;
    border-radius: 30px;
}

.order-form-img {
    position: absolute;
    bottom: 80px;
    right: 150px;
    animation: translate-image 2s linear infinite alternate;
}

@keyframes translate-image {
    0% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(8px);
    }
}
